.canvas {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #fff9e0;
  cursor: crosshair;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  touch-action: none;
}